<h1>Stages</h1>
<table id="stageGrid" class="table">
    <thead>
        <tr>
            <th>Stage Name</th>
            <th>Stage Description</th>
        </tr>
    </thead>
    <tbody>
        @* Grid will populated dynamically *@
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/stageindex.js"></script>
