@using StudentAdmissionMVC.ViewModels
@model UpdateStudentViewModel


<h1>Update Student Details</h1>

<form asp-action="Edit" method="post">
    
    <input type="hidden" asp-for="studentId" />

    @* <div class="form-group">
        <label asp-for="StageId" class="control-label">Select Stage : </label>
        <select asp-for="StageId" class="form-control"
                asp-items="@(new SelectList(Model.Stages,"StageId", "StageName"))"></select>
        <span asp-validation-for="StageId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StandardId" class="control-label"></label>
        <input asp-for="StandardId" class="form-control" />
        <span asp-validation-for="StandardId" class="text-danger"></span> *@
    </div>
    <div class="form-group">
        <label asp-for="studentName" class="control-label"></label>
        <input asp-for="studentName" class="form-control" />
        <span asp-validation-for="studentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StudentEmail" class="control-label"></label>
        <input asp-for="StudentEmail" class="form-control" />
        <span asp-validation-for="StudentEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsPhysicallyDisabled" class="control-label">Physically Disabled : </label>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="IsPhysicallyDisabled" value="true" id="disabledTrue" />
            <label class="form-check-label" for="disabledTrue">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="IsPhysicallyDisabled" value="false" id="disabledFalse" />
            <label class="form-check-label" for="disabledFalse">No</label>
        </div>
        <span asp-validation-for="IsPhysicallyDisabled" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="control-label"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="dateOfApplication" class="control-label"></label>
        <input asp-for="dateOfApplication" class="form-control" />
        <span asp-validation-for="dateOfApplication" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="maths" class="control-label"></label>
        <input asp-for="maths" class="form-control" />
        <span asp-validation-for="maths" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Science" class="control-label"></label>
        <input asp-for="Science" class="form-control" />
        <span asp-validation-for="Science" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SocialStudies" class="control-label"></label>
        <input asp-for="SocialStudies" class="form-control" />
        <span asp-validation-for="SocialStudies" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Hindi" class="control-label"></label>
        <input asp-for="Hindi" class="form-control" />
        <span asp-validation-for="Hindi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="English" class="control-label"></label>
        <input asp-for="English" class="form-control" />
        <span asp-validation-for="English" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Chemistry" class="control-label"></label>
        <input asp-for="Chemistry" class="form-control" />
        <span asp-validation-for="Chemistry" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Biology" class="control-label"></label>
        <input asp-for="Biology" class="form-control" />
        <span asp-validation-for="Biology" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Physics" class="control-label"></label>
        <input asp-for="Physics" class="form-control" />
        <span asp-validation-for="Physics" class="text-danger"></span>
    </div>
@*     <div class="form-group">
        <label asp-for="TotalMarks" class="control-label"></label>
        <input asp-for="TotalMarks" class="form-control" />
        <span asp-validation-for="TotalMarks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Percentages" class="control-label"></label>
        <input asp-for="Percentages" class="form-control" />
        <span asp-validation-for="Percentages" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsAddmissionConfirmed" class="control-label"></label>
        <input asp-for="IsAddmissionConfirmed" class="form-control" />
        <span asp-validation-for="IsAddmissionConfirmed" class="text-danger"></span> *@
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>

</form>